body{background-color: black}
h1{color:white;margin-bottom:30px;}
.logo{position: relative}
.title{width:80%;}
.terminator{width:75%;z-index:0}
.bullet{width:30px; position:absolute;background-color:transparent;}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#ten{;visibility:hidden;}
#game{ border-top: 5px dashed #880015;height:250px;}
#score{ border-top: 5px dashed #880015;height:250px; color:#880015;}
#score p.lead{font-size:170%; margin-top: 20px;}
#word{letter-spacing: 20px; font-size: 40px; color:white;}
#game img{height:200px;margin-top:0px;}